<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>💎나의 탄생석을 알아보자💎</h1>
<hr>
당신이 태어난 달을 선택해주세요!<br>
<form action="/birthstone" method="POST">
<select name="month">
	<option value="1월">1월</option>
	<option value="2월">2월</option>
	<option value="3월">3월</option>
	<option value="4월">4월</option>
	<option value="5월">5월</option>
	<option value="6월">6월</option>
	<option value="7월">7월</option>
	<option value="8월">8월</option>
	<option value="9월">9월</option>
	<option value="10월">10월</option>
	<option value="11월">11월</option>
	<option value="12월">12월</option>
</select>
<input type="submit" value="전송">
</form>
</body>
</html>